@model InformationServices.Models.ViewModels.TicketViewModel
<h1>Edit Ticket</h1>



<form asp-action="UpdateTicket" method="post">
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label asp-for="DateCreated"></label>
            <input asp-for="DateCreated"class="form-control"/>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label asp-for="SitNumber"></label>
            <input asp-for="SitNumber"class="form-control"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label asp-for="StatusId"></label>
            <select asp-for="StatusId" asp-items="@Model.Statuses" class="form-control" ></select>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control" readonly="readonly" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
        </div>
    </div>
</div>

<div class="row">
        <div class="col-lg-12">
          <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
         </div>
     </div>
</div>
    <input type="submit" value="Update Ticket"/>
</form>