<form method="post"asp-controller="Census" asp-action="Create" >
    Date: <input name="Date" id="Date" type="datetime" /> <br/>
    PatientCount: <input name="PatientCount" id="PatientCount" /> <br/>
    Department: <input name="Department" id="Department" />
    <button type="submit">Submit</button>
</form>