    @ViewData["CurrentMonth"]
<ul>
    <li>Total Tickets: <b>@ViewData["TicketCount"]</b></li>
    <li>Tickets in Sept: <b>@ViewData["SeptemberTickets"]</b></li>
    <li>Tickets in Augh: <b>@ViewData["AugustTickets"]</b></li>
</ul>